.tmp.driveupload/
/.vs/WebApplication1/FileContentIndex/4af78dd6-b83b-45ba-aaed-876ae3c52ed6.vsidx
/.vs/WebApplication1/FileContentIndex/27f423b2-ea19-4b77-aaa0-7522a44fe93a.vsidx
/.vs/WebApplication1/FileContentIndex/13b812f8-63a6-4c7d-88ba-0c7fb8f5f269.vsidx
/.vs/WebApplication1/FileContentIndex/0c0574c1-0504-4da2-bc0c-b39d9c0b0006.vsidx
