<html>
<head>
    <title>Login</title>
</head>
<body>
    <div id="TopPane" style="border-bottom:1px solid #ccc;height:50px;padding-bottom:30px">
        <a href="/login"> Login </a> |
        <a href="/login"> Home </a>
    </div>
    <div id="Content">
        @RenderBody()
    </div>
    <div id="FooterPane">
        <hr />
        Le Minh Nhat - VTI - Kymdan
    </div>
</body>
</html>
 