@model DatabasaProvider.kymdan_Users
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
<h2>LOGIN</h2>
@*<p>@Model.Fullname</p>*@

<input type="text" id="txtUID" placeholder="Username" />
<br />
<input type="password" id="txtPWD" placeholder="Password" />
<br />

<div id="btbLOGIN" onclick="Login()" style="width:80px;text-align:center;background:#666;color:#fff;cursor:pointer">LOGIN</div>
<p id="ms" style="color:red;"></p>

<script type="text/javascript">
    var IsRunning = false;
    function Login() {
        console.log("ABC");
        if (!IsRunning) {
            IsRunning = true;
            // var uID1 = document.getElementById("txtUID");
            // var pASS1 = document.getElementById("txtPWD");//
             var uid = $('#txtUID').val();
             var pass = $('#txtPWD').val();

            if (uid == '' || pass == '') {
                $('#ms').html('Nhap tai khoan va mat khau. Empty ERROR');
                IsRunning = false;
            }
            else {
                var form = new FormData();
                form.append("uid", uid);
                form.append("pass", pass);
                var xhr = new XMLHttpRequest();
                xhr.open("POST", 'https://localhost:44328/login/checklogin', true);
                xhr.timeout = 10000;
                xhr.ontimeout = function () {
                    $('#ms').html('F5 de thu lai, Internet time out');
                    IsRunning = false;
                }
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var r = xhr.responseText;
                        var j = JSON.parse(r);
                        if (j.Data.status == "OK" && j.Data.res != null) {
                            //xác thực otp
                            //$.ajax({
                            //    url: '/Login/GetOtp',
                            //    type: 'Get',
                            //    data: { resOtp: j.Data.res },
                            //    contentType: 'application/json; charset=utf-8',
                            //    success: function (res,mess) {
                            //        debugger;
                            //        if (res !=  null && mess == true) {
                            //        }
                            //        else {

                            //        }
                            //    },
                            //    error: function () {
                            //        alert("error");
                            //    }
                            //}); 
                            window.location = '/Login/GetOtp?resOtp=' + j.Data.res;
                        }
                        else {
                            console.log('Nhap lai tai khoan va mat khau');
                            $('#ms').html('Sai ten dang nhap hoac mat khau');
                        }
                        IsRunning = false;
                    }
                }
                xhr.send(form);
            }
        }
    }

</script>